@page
@model CoffeeSlotMachine.Web.Pages.OrderThruCoffeeSelectionControlModel
@{
    ViewData["Title"] = "Coffee Slot Home page";
}


<h2>@ViewData["Message"]</h2>

<div asp-validation-summary="All"></div>

<form method="post">
    <div class="form-group">
        Product:
        <select asp-for="@Model.ProductId">
            @foreach (var product in @Model.Products)
            {
                <option value=@product.Id>
                    @(string.Format($"{product.Name,-25} {product.PriceInCents} ct").Replace(" ", "\xA0"))
                </option>
            }
        </select>
    </div>
    <button type="submit"
            class="btn btn-primary"
            asp-page-handler="ProductSelected">
        Select product
    </button>
</form>
